@charset "ISO-8859-1";
body{
	margin:0;
	padding:0;
	background:hsl(240,40%,60%);
	text-align:center;
}
.admin{
	font-size:16px;
    width:200px;
    height:50px;
    padding:0px;
	border-radius:5px;
	background:violet;
	text-align:center;
	
	
}
.student{
	font-size:16px;
    width:200px;
    height:50px;
    padding:0px;
	border-radius:5px;
	background:violet;
	text-align:center;
}
.aaa{
	width:300px;
	boxshadow:0 0 3px 0 rgpa(0,0,0,0.3);
	backgroung:#fff;
	padding:20px;
	margin:8% auto 0;
	text-align:center;
}
.ibox{
	 width:100%;
    padding:10px;
	border-radius:20px;
	background:white;
	margin:10px 0;
	border:1px solid #999;
	outline:none;
}